body {
background-color: #2f3d4c;}

#calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    width: 50%;
    height: 350px;
    margin: 20px auto;
}

.calendar-header {
    display: contents; /* Keeps the headers in the grid row */
    font-weight: bold;
    text-align: center;
}

.calendar-day-header {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

.calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(151, 159, 165, 0.75);
    /* border: 1px solid #ddd; */
    cursor: pointer;
    font-size: 1.2em;
}

.calendar-day:hover {
    background-color: #e0e0e0;
}

.calendar-day.active {
    background-color: #d3f8d3; /* Highlight today */
    font-weight: bold;
}

/* Modal overlay */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

/* Modal content box */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    margin-top: -10px;
    margin-right: -10px;
    color: #333;
}

.close:hover {
    color: red;
}

.work-day-hard {
    background-color: #761a1a

}
.work-day-soft {
    background-color: #ffa323

}

.free-day {
    background: #01352c;

}
