body {
  font-family: "Roboto", sans-serif; /* Modern betűtípus */
  background-color: #2f3d4c;
  color: #333;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin: 0;
}

.hairdresser-list {
  width: 65%;
}

.container {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Enyhén hangsúlyosabb árnyék */
  border-radius: 5px;
}

.hairdresser {
  /* border: thin solid black; */
  position: relative;
  background-color: rgba(151, 159, 165, 0.75);
  height: 350px;
  box-shadow: 0 10px 10px rgba(197, 196, 196, 0.25); /* Lágyabb árnyék */
  margin: 5px;
  margin-bottom: 35px;
  border-radius: 20px;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hairdresser img {
  position: absolute;
  top: 50%; /* Függőlegesen középre */
  right: -100px;
  transform: translate(-50%, -50%); /* Igazítás a pontos középhez */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1); /* Lágyabb árnyék */
}

.hairdresser-info h3 {
  margin: 0 0 5px 0;
}

.hairdresser-info p {
  margin: 0;
  font-size: 0.9em;
  color: #777;
}

.hairdresser button {
  background-color: rgb(104, 96, 90);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  transition: background-color 0.3s;
}

.hairdresser button:hover {
  background-color: rgb(109, 79, 57);
}

#appointment-form {
  /* height: 50%; */
  /* overflow: auto; */
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(151, 159, 165, 0.95);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* A form legyen felül */
  max-width: 500px;
  width: 90%;
}

.appointment-form-head {
  display: flex;
  justify-content: space-between;
}

#appointment-form h2 {
  margin-top: 0;
}

#appointment-form label {
  display: block;
  margin-bottom: 5px;
}

#appointment-form input,
#appointment-form button {
  background-color: #d3d3d3;
  width: 100%;
  padding: 10px;
  /* margin-bottom: 15px; */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

#appointment-form button {
  background-color: #01352c;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#appointment-form button:hover {
  background-color: #096c47;
}

#appointment-services {
  display: flex;
  align-items: center;
  height: 35px;
}

.time-slot {
  background: #01352c;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.time-slot:hover {
  background-color: #096c47;
}

.time-slot.booked {
  background-color: #dc3545;
  color: white;
  cursor: not-allowed;
}

.time-slot.selected {
  background-color: #29668b;
}

#appointment-form-close-button {
  /* position: relative;  */
  text-align: center;
  width: 20px;
  height: 20px;
  top: 10px;
  left: calc(100% - 30px); /* A jobb széltől 30px-re */
  background-color: lightcoral;
  color: black; /* Sötétszürke szöveg */
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s; /* Áttűnés a hover effektushoz */
}

#appointment-form-close-button:hover {
  background-color: rgb(245, 76, 76); /* Sötétebb háttérszín hover-kor */
  color: #333; /* Sötétebb szöveg hover-kor */
}
